@media (max-width: 1045px) {
  .testi-block {
    width: calc(50% - 10px);
    margin: 10px 0;
  }
}

@media (max-width: 702px) {
  .testi-block {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  /* label #sign-one {
    display: block;
  } */

  .logo {
    font-size: 40px;
    padding-left: 50px;
  }
}

@media (max-width: 483px) {
  label {
    margin-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .navmenu {
    display: none;
  }
  label #sign-one {
    display: block;
  }

 .nav-items {
    display: block;
    position: fixed;
    width: 100%;
    background: #ee6c4d;
    top: -37%;
    left: 0;
    text-align: center;
    z-index: 10;
    padding-bottom: 10px;
  }
  
  .item {
    display: block;
    margin: 20px 0;
    line-height: 60px;
  }
  
  .nav-link {
    font-size: 50px;
  } 
  
  #res-menu:checked ~ #navmenu {
    display: block;
    background-color: #ee6c4d;
    position: relative;
    position: fixed;
    transition: all 0.5s ease-in-out;
    top: 102px;
  }
  /* #res-menu:checked ~ .nav-items {
    top: 8%;
  }   */
  #res-menu:checked + label #sign-one {
    display: none;
  }

  #res-menu:checked + label #sign-two {
    display: block;
  }
}
